html,
body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: center;
}
a{
  text-decoration: none;
}
h1 {
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
}
footer {
    width: 100%;
    background-color: #000;
    height: 10vh;
    position: fixed;
    bottom: 0;
}
header {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    background: #1cd6b3;
    color: #000;
    position: fixed;
}
.button{
  background-color: #1cd6b3;
  color: white;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-decoration:  none;
  width: fit-content;
  margin: auto;
}
.button:hover{
  background-color: #fff;
  color: #1cd6b3;
  border: 1px solid #1cd6b3;
}

.footer-link{
    color:white;
    list-style: none;
    font-size:2em;
    padding: 0 0.3em;

}
.logo {
    letter-spacing: 3px;
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    text-align: center;
}

.nav {
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    justify-content: space-around;

}

.navlink {
    list-style: none;
    margin: 0;
    padding: 00 em 0em;
    text-align: center;
    font-size: 1.5em;
}

.navlink a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

.burger {
    font-size: 1.2em;
    display: none;
}
.picture{
    height: 12em;
    border:3px solid black;
}
#italki-reviews{
  margin: auto;
  width: fit-content;
}
.social-media-icons{
    display: flex;
    float: right;
    padding: 0 1em;
    margin:0;
}
.fa-facebook:hover {
    color:#3b5998;
}
.fa-twitter:hover {
    color:#55acee;
}
.fa-youtube:hover {
    color:#c4302b;
}
.fa-patreon:hover {
    color:#f96854;
}
.fa-instagram:hover {
    background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 20%;
}
.green-link{
    color:#1cd6b3;
    text-decoration: none;
}
.green-link:hover{
    color:#d61c3e;
}
.text-left{
    text-align: left;
}
